<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
/>
<link rel="stylesheet" href="assets/css/style.css" />

<!-- Favicon -->
<link rel="shortcut icon" href="img/favicon.ico" />

<body
  data-spy="scroll"
  data-target="#navbar"
  data-offset="72"
  class="position-relative"
>
  <header class="fixed-top page-header">
    <div class="container-fluid container-fluid-max">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">IT Huế</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-lg-between"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Tìm việc IT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Thị trường IT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tạo CV</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Công ty nổi bật</a>
            </li>
          </ul>
          <div class="text-white">
            <a href="tel:0399910933" class="mr-2">
              <i class="fas fa-phone-volume"></i>
              <div class="d-none d-xl-inline">03 999 10933</div>
            </a>
            <a href="mailto:hoanglb.dev@gmail.com">
              <i class="far fa-envelope"></i>
              <div class="d-none d-xl-inline">hoanglb.dev@gmail.com</div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <section
      id="home"
      class="d-flex align-items-center position-relative vh-100 cover hero"
      style="background-image: url(img/bg-banner.png)"
    >
      <div class="container-fluid container-fluid-max">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <h1 class="text-white">
              IT Hue is a recruitment network and ecosystem in Mobile & IT
              fields
            </h1>
            <div class="mt-3">
              <a class="btn bg-orange text-white mr-2" href="#process" role="button"
                >Join Now</a
              >
              <a class="btn bg-orange text-white" href="#process" role="button"
                >Liên hệ đăng tuyển</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="process" class="process">
      <div class="container-fluid container-fluid-max">
        <div class="row text-center py-5">
          <div class="col-12 pb-4 header-job">
            <h2 class="text-orange">All Jobs</h2>
            <hr />
          </div>
        </div>
      </div>
      <div class="col-12 pb-4">
        <div class="d-flex box justify-content-around">
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
          <div class="item job-card">
            <div class="card-title">
              <h3>Saishunkan System Vietnam</h3>
              <hr />
              <div class="intro">
                Thuộc công ty Saishunkan System, Japan. Thuộc tập đoàn Dược Phẩm
                Saishunkan, Japan
              </div>
            </div>
            <div class="card-info">
              Saishunkan System Vietnam là công ty IT 100% vốn đầu tư từ Nhật
              Bản, được thành lập năm 2015. Công ty chúng tôi hoạt động trong
              lĩnh vực thiết kế và phát triển ứng dụng, website. Các ngôn ngữ
              chủ yếu là: Java, PHP, C#, Objective C, Swift.....
            </div>
            <div class="utility-info">
              <ul class="utility-list">
                <li class="comments">12</li>
                <li class="date">08.03.2021</li>
              </ul>
            </div>
            <div class="gradient-overlay"></div>
            <div class="color-overlay"></div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="py-3 page-footer">
    <div class="container-fluid container-fluid-max">
      <div class="row">
        <div class="col-12 col-md-6 footer-child copyright">
          © 2021 All Rights Reserved
        </div>
        <div class="col-12 col-md-6 footer-child footer-links">
          <div>
            <small
              >Made with <i class="far fa-kiss-wink-heart"></i> by
              <a href="http://fb.com/baohoang.le" target="_blank">HoangLB</a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script>
  const $body = $("body");
  const $header = $(".page-header");
  const $navCollapse = $(".navbar-collapse");
  const scrollClass = "scroll";

  $(window).on("scroll", () => {
    if (this.matchMedia("(min-width: 992px)").matches) {
      const scrollY = $(this).scrollTop();
      scrollY > 0
        ? $body.addClass(scrollClass)
        : $body.removeClass(scrollClass);
    } else {
      $body.removeClass(scrollClass);
    }
  });

  $(".page-header .nav-link, .navbar-brand").on("click", function (e) {
    e.preventDefault();
    const href = $(this).attr("href");
    $("html, body").animate(
      {
        scrollTop: $(href).offset().top - 71,
      },
      600
    );
  });
</script>
