/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --lightblue: #f6f9fc;
}

a,
a:hover {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.bg-lightblue {
  background: var(--lightblue);
}

.bg-orange {
  background: var(--orange);
}

.text-orange {
  color: var(--orange);
}

.container-fluid-max {
  max-width: 1440px;
}

.cover {
  background: no-repeat center/cover;
}

.p-15 {
  padding: 15px;
}

/* SCROLL ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.scroll .page-header {
  background: var(--orange);
}

.scroll .hero {
  transform: scale(0.99);
}

/* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
  transition: background 0.5s ease-in-out;
}

.page-header .navbar {
  padding: 1rem 0;
}

.page-header .navbar-toggler {
  /* the variable is inherited from BS4 built-in variables */
  border-color: var(--white);
}

/* BANNER SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-attachment: fixed;
  transition: transform 0.5s ease-in-out;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.hero .container-fluid {
  z-index: 10;
}

/* POPULAR DESTINATIONS SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.popular-destinations figure {
  margin-bottom: 30px;
}

.popular-destinations figcaption {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.popular-destinations img {
  filter: grayscale(100%) blur(3px);
  transition: transform 0.5s, filter 0.75s;
}

.popular-destinations a:hover img {
  transform: scale(1.25);
  filter: none;
}

/* PAGE FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer .footer-links {
  text-align: right;
}

/* MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* MEDIUM SCREENS */
@media screen and (max-width: 991px) {
  .page-header {
    background: var(--orange);
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 767px) {
  .page-footer .footer-child {
    text-align: center;
  }
}

/* CARD */
.box {
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.item {
  width: 350px;
  position: relative;
  height: 500px;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgb(0 0 0 / 50%);
}

.item.job-card {
  background: url(/img/card.png) no-repeat;
}

.card-title {
  margin: 70px 0 0 0;
  z-index: 20;
}

.card-title > h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--orange);
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}
.card-title > hr,
.header-job > hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: var(--orange);
}

.header-job > hr{
  width: 70px;
  background: var(--orange);
}

.card-info {
  width: 100%;
  position: absolute;
  bottom: 100px;
  left: 0;
  margin: 0 auto;
  padding: 0 30px;
  color: #dce3e7;
  font-family: "Droid Serif", serif;
  font-style: 16px;
  line-height: 24px;
  z-index: 20;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.intro {
  width: 270px;
  margin: 0 auto;
  color: #050505;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.item .color-overlay {
  /* Rectangle 11: */
  /* background: rgba(84, 104, 110, 0.4); */
  width: 350px;
  height: 500px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
.item .gradient-overlay {
  /* bg-gradient: */
  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  background-image: -moz-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 21%
  );
  width: 350px;
  height: 500px;
  position: absolute;
  top: 350px;
  left: 0;
  z-index: 15;
}
.item:hover .card-info {
  opacity: 1;
  bottom: 100px;
}
.item:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}
.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
}
.utility-list {
  list-style-type: none;
  margin: 0 0 30px 20px;
  padding: 0;
  width: 100%;
}
.utility-list li {
  margin: 0 15px 0 0;
  padding: 0 0 0 22px;
  display: inline-block;
  color: #dce3e7;
  font-family: "Roboto", sans-serif;
}
.utility-list li.comments {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-chat.svg)
    no-repeat 0 0.1em;
}
.utility-list li.date {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/icon-calendar.svg)
    no-repeat 0 0.1em;
}
/* END CARD */
footer.page-footer{
  background-color: #fafbfb;
  color: #65676b;
}